.component {
  background-color: lightyellow;
  margin:0.5%;
  border:1px solid orange;
}

.componentname {
  display: block;
  font-size: .5em;
  color:gray;
  float: left;
}

#headercomponent {
  width:100%;
}

#headercomponent #rules ul {
  display: none;
  text-align: left;
}

#userscorecomponent {
  width:100%;
}

#userscorecomponent #score {
  clear: both;
}

#userscorecomponent #wordcount {
  clear: both;
}

#letterscomponent {
  width:48%;
  float:left;
}

#letterscomponent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#letterscomponent ul li {
  font-size: 4em;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  margin: 5px;
}

#letterscomponent #actions button {
  cursor: pointer;
  margin: 10px;
}

#letterscomponent #actions #shuffle {

}

#letterscomponent #actions #newset {
  
}

#wordscomponent {
  width:48%;
  float:right;
}

#wordscomponent ul {
  list-style-type: none;
  text-align: left;
  clear: both;
}

#inputcomponent {

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
